In [32]:
import pandas as pd
def process_1iv_mayo():
    df = pd.read_excel('./resources/1iv.xlsx', skiprows=3, usecols='B:C', nrows=33, sheet_name='INFORME MAYO 2025 ')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 5
    df['Sede'] = 1
    return df

def process_1iv_abril():
    df = pd.read_excel('./resources/1iv.xlsx', skiprows=3, usecols='B:C', nrows=39, sheet_name='INFORME ABRIL 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 4
    df['Sede'] = 1
    return df

def process_1iv_marzo():
    df = pd.read_excel('./resources/1iv.xlsx', skiprows=3, usecols='B:C', nrows=27, sheet_name='INFORME MARZO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 3
    df['Sede'] = 1
    return df

def process_1iv_feb():
    df = pd.read_excel('./resources/1iv.xlsx', skiprows=3, usecols='B:C', nrows=26, sheet_name='INFORME FEBRERO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 2
    df['Sede'] = 1
    return df

def process_1iv_ene():
    df = pd.read_excel('./resources/1iv.xlsx', skiprows=3, usecols='B:C', nrows=27, sheet_name='INFORME ENERO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 1
    df['Sede'] = 1
    return df

In [33]:

def process_2iv_mayo():
    df = pd.read_excel('./resources/2iv.xlsx', skiprows=3, usecols='B:C', nrows=37, sheet_name='INFORME MAYO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 5
    df['Sede'] = 2
    return df
process_2iv_mayo()

                                   Descripción      Valor  Mes  Sede
0                            PAGO TELESENTINEL   205000.0    5     2
1                                PAGO INTERNET   100000.0    5     2
2                      PAGO SERVICIOS PUBLICOS   250000.0    5     2
3                    PAGO INDUSTRIA Y COMERCIO    80000.0    5     2
4               PAGO SEGURIDAD SOCIAL XIMENA J   542000.0    5     2
5      PROGRAMA DE FACTURACION E INVENTARIO 30    70000.0    5     2
6                                PAGO ARRIENDO  1500000.0    5     2
7                         PAGO NOMINA   XIMENA  1509000.0    5     2
9    PROVISION  MENSUAL PRESTACIONES SOCIALES    346000.0    5     2
10                            DOTACION MENSUAL    70000.0    5     2
11              SEGURIDAD SOCIAL SANDRA ZAPATA   181000.0    5     2
12                PAGO PUBLICIDAD JUAN ESTEBAN   120000.0    5     2
13            PAGO MEDIO TIEMPO LAURA CHAVERRA   252000.0    5     2
14     SEGURIDDA SOCIAL MEDIO TIEMPO LAURA CHA    91000.0    5     2
15          PRESTACIONES SOCIAL LAURA CHAVERRA    58000.0    5     2
17                               COMPRA DULCES    13900.0    5     2
18                            COMPRA BOMBONERA     7000.0    5     2
19                   COMPRA BOLSAS METALIZADAS    33600.0    5     2
20                                        BASE   200000.0    5     2
21                     PAGO TRANSPORTE CORREAS    30000.0    5     2
22                COMPRA ANUNCIADOR DE VISITAS    98000.0    5     2
23                     PAGO DIA LAURA CHAVERRA    80000.0    5     2
24                             PLASTIFICADA QR     3000.0    5     2
25                           PAGO TELESENTINEL   167000.0    5     2
26                               COMPRA DULCES    13900.0    5     2
27                          COMPRA EXTENSIONES    10000.0    5     2
28                               COMPRA TAPETE   111000.0    5     2
29                                 PAGO CAMARA   100000.0    5     2
30                            COMPRA COSTURERO     4000.0    5     2
31                        COMPRA DESINFECTANTE     2950.0    5     2
32                     COMPRA  PAPEL HIGIENICO     2950.0    5     2
33                               COMPRA DULCES    13900.0    5     2
34         PAGO DIAS TRABAJADOS LAURA CHAVERRA   219000.0    5     2
35                          PAGO FACTURA EFREN  3287800.0    5     2
36        PAGO HORAS EXTRAS MES DE MAYO XIMENA   261000.0    5     2

In [37]:

def process_3iv_mayo():
    df = pd.read_excel('./resources/3iv.xlsx', skiprows=2, usecols='B:C', nrows=24, sheet_name='INFORME MAYO 2025 ')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 5
    df['Sede'] = 3
    return df

def process_3iv_abril():
    df = pd.read_excel('./resources/3iv.xlsx', skiprows=2, usecols='B:C', nrows=29, sheet_name='INFORME ABRIL 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 4
    df['Sede'] = 3
    return df

def process_3iv_marzo():
    df = pd.read_excel('./resources/3iv.xlsx', skiprows=2, usecols='B:C', nrows=33, sheet_name='INFORME MARZO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 3
    df['Sede'] = 3
    return df

def process_3iv_feb():
    df = pd.read_excel('./resources/3iv.xlsx', skiprows=2, usecols='B:C', nrows=17, sheet_name='INFORME FEBRERO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 2
    df['Sede'] = 3
    return df

def process_3iv_ene():
    df = pd.read_excel('./resources/3iv.xlsx', skiprows=2, usecols='B:C', nrows=29, sheet_name='INFORME ENERO 2025')
    df = df.dropna()
    df = df.rename(columns={'GASTO': 'Descripción', 'VALOR': 'Valor'})
    df['Mes'] = 1
    df['Sede'] = 3
    return df

In [38]:
methods = [
    process_1iv_mayo,
    process_3iv_mayo,
    process_1iv_abril,
    process_3iv_abril,
    process_1iv_marzo,
    process_3iv_marzo,
    process_1iv_feb,
    process_3iv_feb,
    process_1iv_ene,
    process_3iv_ene,
    process_2iv_mayo,
]
df = pd.concat([fun() for fun in methods], ignore_index=True)
df

                              Descripción      Valor  Mes  Sede
0                       PAGO TELESENTINEL   170000.0    5     1
1                           PAGO INTERNET   100000.0    5     1
2                 PAGO SERVICIOS PUBLICOS   350000.0    5     1
3               PAGO INDUSTRIA Y COMERCIO    80000.0    5     1
4           PAGO SEGURIDAD SOCIAL MICHELL   542000.0    5     1
..                                    ...        ...  ...   ...
311               COMPRA  PAPEL HIGIENICO     2950.0    5     2
312                         COMPRA DULCES    13900.0    5     2
313   PAGO DIAS TRABAJADOS LAURA CHAVERRA   219000.0    5     2
314                    PAGO FACTURA EFREN  3287800.0    5     2
315  PAGO HORAS EXTRAS MES DE MAYO XIMENA   261000.0    5     2

[316 rows x 4 columns]

In [40]:
df.to_csv('./public/gastos.csv')